<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- seo -->
  {% capture seo %}{% include seo.html %}{% endcapture %}
  {{ seo | strip_newlines | replace: "            ", " " | replace: "        ", " " | replace: "    ", " " }}
  <!-- favicon -->
  <link rel="icon" href="{{ site.baseurl }}/assets/img/favicon.png" type="image/png">
  <!-- css -->
  <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css integrity="sha256-uFVgMKfistnJAfoCUQigIl+JfUaP47GrRKjf6CTPVmw=" crossorigin=anonymous>
  <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin=anonymous>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl | css_cache_bust }}">
  <link rel="stylesheet" href="{{ '/assets/css/code.css' | prepend: site.baseurl | css_cache_bust }}">
</head>