/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,500;0,600;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

/* GENERAL */

body {
  background-color: #fff;
  padding: 0px;
  font: 16.0px/1.5 Crimson Pro, serif;
  color: #595959;
  font-weight: 400;
  margin: 0
}

autocolor {
  color:#595959;
}

lightonly {
  visibility: visible;
}

darkonly {
  visibility: hidden;
}

@media (prefers-color-scheme: dark) {

  body {
    background-color: #20212b;
    color: #dadbdf;
  }

  autocolor{
    color:#dadbdf;
  }

  lightonly {
    visibility: hidden;
  }

  darkonly {
    visibility: visible;
  }

}

h3, h4, h5, h6 {
  font-weight: 600;
  color:#043361;
  margin:0 0 20px;
}

h1 {
  font-weight: 500;
  color:#043361;
  margin:0 0 20px;
}

h2 {
  color:#043361;
  font-weight: 500;
  margin:1.5em 0 1em 0;
  font-size: 157%;
}

@media (prefers-color-scheme: dark) {
  h1, h3, h4, h5, h6 {
    color:rgb(62, 183, 240);
  }

  h2 {
    color:rgb(62, 183, 240);
  }
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

a {
  color:#069;
  text-decoration:none;
}

a:hover {
  color:rgb(0, 72, 108);
}

@media (prefers-color-scheme: dark) {
  a {
    color:rgb(62, 183, 240);
  }
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  width:960px;
  margin:0 auto;
}

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  font-size: 12px;
  color: #333;
}

pre {
  max-width:500px;
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:500;
}

th {
  color:#444;
}

@media (prefers-color-scheme: dark) {
  th {
    color:rgb(62, 183, 240);
  }

  dt {
    color:rgb(62, 183, 240);
  }
}

img {
  max-width:100%;
}

#email a {
  font-size: 14px;
  font-family: "Ubuntu Mono";
  font-style: normal;
  color: inherit;
}