/* HEADER */

header {
  width:232px;
  float:left;
  position:fixed;
  padding-top:2em;
  text-align:center;
}

#job {
  font-size:1.10rem;
}

/* AFFILIATIONS */

#affiliations {
  list-style: none;
  padding: 0;
}

#affiliations li {
  display: inline-block;
}

/* IMAGE */

.image {
  border-radius: 0.35em;
  border: 0;
  display: inline-block;
  position: relative;
}

.image.avatar {
  border-radius: 100%;
}

.image.avatar:before {
  display: none;
}

.image.avatar img {
  border-radius: 100%;
  width: 70%;
  padding: 20px;
}

#header .image.avatar {
  margin: 0 0 1em 0;
  width: 8.00em;
}


/* SOCIAL ICONS */

#social-media {
  padding:0;
  list-style:none;
}

#social-media li {
  display: inline-block;
  margin: 0 0.5em;
}

#social-media li a {
  display: inline-block;
  color: #043361!important;
  background-color:transparent;
  border-radius: 100%;
  height: 2.4rem;
  width: 2.4rem;
  font-size: 1.15rem;
  line-height: 2.5rem;
  margin-right:1em;
}

#social-media li a:last-child {
  margin-right:0;
}

#social-media li a:hover {
  background-color:#ffff;
  color:black;
  transform: scale(1.5);
}

@media (prefers-color-scheme: dark) {
  #social-media li a {
    color: #3eb7f0 !important;
  }
}

@media (prefers-color-scheme: dark) {
  #social-media li a:last-child { margin-right:0; }
  #social-media li a:hover {
    background-color:#20212b;
    color:black;
    transform: scale(1.2);
  }
}

.twitter span {
  background-color:#4099ff
}

.facebook span {
  background-color:#4286f4
}

.linkedin span {
  background-color:#0077B5
}

.github span {
  background-color:#000
}